header{
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 230px;
}
.primary-menu{
  display: flex;
  list-style: none;
  padding: 0;
}
.primary-menu li{
  padding: 15px;
}
.primary-menu li a{
  text-decoration: none;
  color: #111;
  transition: all 200ms ease-in;
  border-color: #fff;
  
}
.primary-menu li a.active{
  color: #ab9112;
  text-shadow: 0 0 3px #ab9112;
  padding-bottom: 15px;
  border-bottom: 1px solid #ab9112;
}
footer{
  display: flex;
  justify-content: space-evenly;
  background-color: #495E57;
  color: #fff;
  padding: 66px 15px;
}
footer ul{
  list-style: none;
  padding: 0;
}
footer ul li{
  padding: 10px 10px 10px 0;
}
footer section h3{
  color: #F4CE14;
}
footer ul a{
  text-decoration: none;
  
} 
footer ul a:visited{
  color: #fff;
}